<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BirdexWH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB7C1EB61D015A3E004E3073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7C1ECF1D015A3E004E3073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7C1EDA1D015A3E004E3073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
