.instock_item_title,.instock_item_txt{
    display: inline-block;
}
.instock_item_title{
    width: 35%;
    text-align: right;
    vertical-align: top;
}
.instock_item_txt{
    width: 65%;
    /*只对中文起作用，强制换行。*/
    white-space: pre-wrap;
    /*只对英文起作用，以单词作为换行依据*/
    word-wrap: break-word;
}
.table-responsive{
    border: none;
    margin: 0px;
}
.instock_list_item thead{
    background-color: #e5e5e5;
    width: 100%;
    color: #4A4A4A;
}
.instock_list_item tbody{
    /*background-color: #9b9b9b;*/
    background-color: rgba(157,157,157,0.1);
}
.instock_item_info{
    padding-top: 3px;
    padding-bottom: 3px;
}
.instock_list_item .table{
    margin-top: 10px;
}
