/*页面前进动画*/

.pagepush-enter {
  -webkit-transform: translate3d(375px, 0, 0);
}

.pagepush-enter.pagepush-enter-active {
  transition: -webkit-transform  300ms linear;
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepush-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepush-leave.pagepush-leave-active {
   transition: -webkit-transform  300ms linear;
  -webkit-transform: translate3d(-375px, 0, 0);
}

/*页面后退动画*/

.pagepop-enter {
  -webkit-transform: translate3d(-375px, 0, 0);
}

.pagepop-enter.pagepop-enter-active {
  transition: -webkit-transform  300ms linear;
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepop-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepop-leave.pagepop-leave-active {
  transition: -webkit-transform  300ms linear;
  -webkit-transform: translate3d(375px, 0, 0);
}

.imnumber {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
