.nav_simple_tablayout  *{
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    font-size: 14px;    
    color:#505050;
}
.nav_simple_tablayout,.nav_simple_tablayout ul,.nav_simple_tablayout .item_tab{
    height: 40px;
    text-align: center;
}
.nav_simple_tablayout .item_tab{
    line-height: 40px;
}
.nav_simple_tablayout ul{
    margin:0 auto;
    list-style:none;
    position:relative;
    width:100%;
}
.nav_simple_tablayout li{
     display: inline-block;
     float:left;
}
.simpletablayout-line{
    position:absolute;
    bottom:-2px;
    left:0;
    width:100px;
    height:2px;
    background:#fe4902;
}
.current_tab{
    /*font-size: 15px;*/
        color: #ff7800;
}