#wrapper_tablayout {
	position: relative;
	z-index: 1;
	width: 100%;
	background: #ccc;
	overflow: hidden;
	-ms-touch-action: none;
}

#scroller_tablayout {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 2400px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller_tablayout ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#scroller_tablayout li {
	width: 120px;
	float: left;
	line-height: 160px;
	/*border-right: 1px solid #ccc;*/
	border-bottom: 1px solid #ddd;
	background-color: #fafafa;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
	color: #505050;
}
#wrapper_tablayout,#scroller_tablayout,#scroller_tablayout ul,#scroller_tablayout li ,#scroller_tablayout a{
	height: 40px;
	line-height:40px;
}
#scroller_tablayout a:visited {
    color: #ff7800;
}
